<!-- Desktop View -->
<% if mobile_device == "desktop" %>

<!-- Image bannière -->
<div style="min-width:100%; height:16vh; background-size: cover; background-repeat: no-repeat; position: relative; background-image: url('https://i.imgur.com/pwT4hsx.jpg')"><h1 style="font-size:4vw; font-weight:800; color:#26e3c9; position: absolute; top:25%; left:25%;">Trouvez Votre Ambiance</h1></div>

    <% if @venues == nil %>
<!-- Si aucun Venue, afficher "Pas de Venues créés...", sinon afficher "Ambiances Live" -->
<div class="row justify-content-center">
  <div class="col align-items-center" style="padding-top:20vh">

      <div class="col text-center">
        <h2 style="color:grey">Pas de Venues créées...</h2>
      </div>
    <% else %>
    <div class="d-flex" style="padding-top:2em; margin:auto; width:85%; min-width:80em">

        <div class="row">
    <div class="col-12">
      <h3 style="padding-left:2em"><strong>Toutes les Ambiances</strong></h3><br>
    </div>
    </div>
    </div>
    <% end %>
  </div>

</div>


<!-- Bloc Venues -->

<div class="row" style="margin:auto; width:85%; min-width:80em">

<!-- Afficher toutes les Venues  -->
  <% @venues.each do |venue|%>
    <div class="col-4" style="padding-bottom:4em">
      <%= render 'venue', venue: venue %>
    </div>
  <% end %>
</div>


<!-- Mobile View -->
<% else %>
<!-- Afficher toutes les Venues  -->
  <% @venues.each do |venue|%>
      <%= render 'm-venue', venue: venue %>
  <% end %>

<% end %>
