<%= link_to root_path, class: "text-decoration-none" do %>
<div class="dropdown-item">
  <div class="row">
    <div class="col-2">
      <%= image_tag "avatar.jpg", style: "width:4em; border-radius:5em" %>
    </div>
    <div class="col text-truncate" style="height:3em; margin-top:auto; margin-bottom:auto; padding-left:1em">
      <small class="text-truncate"><strong>Nadia Kurska</strong> vous invite à <strong>La Felicità</strong>. <br>
      <span class="my-primary-grey">Jeudi, 8 Août à 18:46.</span></small>
    </div>
  </div>
</div>
<% end %>

<hr>
